<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h3 th:text="${results}"></h3>
    <!-- TODO #3 - Use the same list display from search.html -->
    <div th:each="map : ${jobs}" th:fragment="jobs">
        <table class="job-listing">
            <tr th:each="mapEntry : ${map}">
                <td th:text="${mapEntry.key}"></td>
                <td th:text="${mapEntry.value}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>